import sklearn.datasets
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.linear_model
import sklearn.model_selection
from sklearn.metrics import mean_squared_error, r2_score
import sklearn.neighbors
from sklearn.model_selection import cross_val_score
import sklearn.tree
from sklearn.ensemble import RandomForestRegressor
